[submodule "component-compiler-utils"]
	path = component-compiler-utils
	url = https://github.com.cnpmjs.org/vuejs/component-compiler-utils.git
	branch = master
	ignore = all
[submodule "vue-style-loader"]
	path = vue-style-loader
	url = https://github.com.cnpmjs.org/vuejs/vue-style-loader.git
	branch = master
	ignore = all
[submodule "vue-loader"]
	path = vue-loader
	url = https://github.com.cnpmjs.org/vuejs/vue-loader.git
	branch = master
	ignore = all
[submodule "vue-eslint-parser"]
	path = vue-eslint-parser
	url = https://github.com.cnpmjs.org/mysticatea/vue-eslint-parser.git
	branch = master
	ignore = all
[submodule "vue"]
	path = vue
	url = https://github.com.cnpmjs.org/vuejs/vue.git 
	branch = master
	ignore = all
[submodule "elements/element-2.14.1"]
	path = elements/element-2.14.1
	url = https://github.com.cnpmjs.org/ElemeFE/element.git
	tag = "v2.14.1"
[submodule "elements/element-1.2.5"]
	path = elements/element-1.2.5
	url = https://github.com.cnpmjs.org/ElemeFE/element.git
	tag = "v1.2.5"
[submodule "vue-element-admin"]
	path = vue-element-admin
	url = https://github.com.cnpmjs.org/PanJiaChen/vue-element-admin.git
	branch = master
	ignore = all
[submodule "vetur"]
	path = vetur
	url = https://github.com.cnpmjs.org/vuejs/vetur.git
	branch = master
	ignore = all
[submodule "vue-router"]
	path = vue-router
	url = https://github.com.cnpmjs.org/vuejs/vue-router.git
	branch = master
	ignore = all
[submodule "vuex"]
	path = vuex
	url = https://github.com.cnpmjs.org/vuejs/vuex.git
	branch = master
	ignore = all
[submodule "ant-design-vue"]
	path = ant-design-vue
	url = https://github.com.cnpmjs.org/vueComponent/ant-design-vue.git
	branch = master
	ignore = all