[submodule "track-libs/vue-loader"]
	path = track-libs/vue-loader
	url = git@github.com:vuejs/vue-loader.git
	branch = master
	ignore = all
[submodule "track-libs/vue"]
	path = track-libs/vue
	url = git@github.com:vuejs/vue.git
	branch = master
	ignore = all
[submodule "track-libs/element"]
	path = track-libs/element
	url = git@github.com:ElemeFE/element.git
	branch = master
	ignore = all
[submodule "track-libs/vue-router"]
	path = track-libs/vue-router
	url = git@github.com:vuejs/vue-router.git
	branch = master
	ignore = all
[submodule "track-libs/vuex"]
	path = track-libs/vuex
	url = git@github.com:vuejs/vuex.git
	branch = master
	ignore = all
[submodule "track-libs/vue-next"]
	path = track-libs/vue-next
	url = git@github.com:vuejs/vue-next.git
	branch = master
	ignore = all
