[submodule "zoos/vue-loader"]
	path = zoos/vue-loader
	url = git@github.com:vuejs/vue-loader.git
	branch = master
	ignore = all
[submodule "zoos/vue"]
	path = zoos/vue
	url = git@github.com:vuejs/vue.git
	branch = master
	ignore = all
[submodule "zoos/element"]
	path = zoos/element
	url = git@github.com:ElemeFE/element.git
	branch = master
	ignore = all
[submodule "zoos/vue-router"]
	path = zoos/vue-router
	url = git@github.com:vuejs/vue-router.git
	branch = master
	ignore = all
[submodule "zoos/vuex"]
	path = zoos/vuex
	url = git@github.com:vuejs/vuex.git
	branch = master
	ignore = all
[submodule "zoos/vue-next"]
	path = zoos/vue-next
	url = git@github.com:vuejs/vue-next.git
	branch = master
	ignore = all
