<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-learn</title>
    <script src="./vue.js"></script>
    <style>
        .colorfull {
            font-size: 32px;
            font-weight: bold;
            color: #f73;
        }

        .tab-button {
            padding: 6px 10px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border: 1px solid #ccc;
            cursor: pointer;
            background: #f0f0f0;
            margin-bottom: -1px;
            margin-right: -1px;
        }

        .tab-button:hover {
            background: #e0e0e0;
        }

        .tab-button.active {
            background: #e0e0e0;
        }

        .tab {
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- <div class="header-container" v-bind:style="headerStlye" v-on:click="click01($event)">
            <h1>标题</h1>
            <p>正文</p>
        </div> -->
        <input type="text" v-model="val" @change="handleChange($event)">
        <!-- <child-test :test-message="mess" v-on:click="test01($event)" v-on:componenton="test02">
            <p class="colorfull">solt什么的</p>
        </child-test> -->
        <hr>
        <!-- <div class="demo">
            <button v-for="tab in tabs" v-bind:key="tab" v-bind:class="['tab-button', { active: currentTab === tab }]"
                v-on:click="currentTab = tab">{{ tab }}</button>
            <transition name="fade" mode="out-in" type="animation" @after-enter="transitionComplete">
                <component v-bind:is="currentTabComponent" class="tab"></component>
            </transition>
        </div> -->
    </div>
    <template id="tplt01">
        <div>
            <button>{{testMessage}}</button>
            <button @click="test001">能点击到我么？</button>
            <p class="colorfull">能影响到么？</p>
            <slot></slot>
        </div>
    </template>
    <script>
        // Vue.component('tab-home', {
        //     template: '<div>Home component</div>'
        // })
        // Vue.component('tab-posts', {
        //     template: '<div>Posts component</div>'
        // })
        // Vue.component('tab-archive', {
        //     template: '<div>Archive component</div>'
        // })

        var vm = new Vue({
            'el': '#app',
            data: {
                mess: '组件点击001',
                headerStlye: {
                    border: "10px solid #000"
                },
                val: 1000,
                currentTab: 'Home',
                tabs: ['Home', 'Posts', 'Archive']
            },
            methods: {
                click01: function (e) {
                    alert("点击了事件", e.name);
                },
                test01: function (e) {
                    alert('01号被点了！');
                },
                test02: function () {
                    alert('01号被点了！');
                },
                transitionComplete: function (el) {
                    console.log("动画执行结束", Date.now());
                },
                handleChange: function(e) {
                    console.log(this.val, e.currentTarget.value)
                }
            },
            computed: {
                valC: function () {
                    console.log('watch val---', this.val);
                    return this.val
                },
                currentTabComponent: function () {
                    return 'tab-' + this.currentTab.toLowerCase()
                }
            },
            components: {
                // 'childTest': {
                //     template: "#tplt01",
                //     props: ['testMessage'],
                //     methods: {
                //         // test01: function (e) {
                //         //     alert('01号被点了！');
                //         // },
                //         test02: function () {
                //             alert('001号被点了！');
                //         },
                //         test001: function () {
                //             console.log('this->', this);
                //             alert('000001号被点了！');
                //         }
                //     },
                //     mounted: function () {
                //         console.log('---?', this)
                //     },
                // }
            },
            mounted() {
                console.log('valC', this.valC)
            }
        });
    </script>
</body>

</html>